.card-info {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.card-info h1 {
	color: #4a4d8b;
	margin-top: 2rem;
}

.card-info .card {
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.card-info .login-btn {
	font-weight: 700;
}
