.send-money {
	justify-content: space-around;
	flex-direction: column;
	height: 85vh;
}

.send-money h1 {
	text-align: center;
	color: #4a4d8b;
	font-size: 1.8rem;
}

.send-money .card {
	height: 30vh;
	justify-content: center;
}

.send-money .login-btn {
	width: 50%;
}
